{% extends "base/base.html"%} 
{% load static %}
{% block start %}
<style>
  .filter-section {
      margin-bottom: 20px;
  }

  .form-group {
      margin-bottom: 10px;
  }

  @keyframes appear {
    from {
      opacity: 0;
      scale: 0.5;
    }
    to {
      opacity: 1;
      scale: 1;
    }
  }

  .card {
    animation: appear linear;
    animation-timeline: view();
    animation-range: entry 0% cover 40%;
  }
</style>
<section class="banner-two">
  <div class="banner-two__shape-left d-none d-lg-block wow bounceInLeft" data-wow-duration="1s"
      data-wow-delay=".5s">
      <img src="assets/images/shape/tote1.png" alt="shape">
  </div>
  <div class="banner-two__shape-right d-none d-lg-block wow bounceInRight" data-wow-duration="1s"
      data-wow-delay=".1s">
      <img class="sway_Y__animation" src="assets/images/shape/tote2.png" alt="shape">
  </div>
  <div class="swiper banner-two__slider">
      <div class="swiper-wrapper">
          <div class="swiper-slide">
              <div class="slide-bg" data-background="assets/images/banner/tote-banner1.jpg"></div>
              <div class="container">
              
                  <div class="banner-two__content" style="padding-bottom: 33px;padding-top: 223px;">
                      <h4 data-animation="fadeInUp" data-delay="1s"> GET <span class="primary-color">20% OFF</span> TODAY</h4>
                      <h1 data-animation="fadeInUp" data-delay="1.3s">Discover Premium <br>
                          <span class="primary-color">Tote Bags</span></h1>
                      <p class="mt-40" data-animation="fadeInUp" data-delay="1.5s">Sustainability meets style. Elevate your everyday carry with our handcrafted tote bags, designed for fashion-forward individuals.</p>
                      <div class="banner-two__info mt-30" data-animation="fadeInUp" data-delay="1.7s">
                          <span class="mb-10">Starting at</span>
                          <h3>>₵0.00</h3>
                      </div>
                      <div class="btn-wrp mt-65">
                          <a href="shop.html" class="btn-one" data-animation="fadeInUp"
                              data-delay="1.8s"><span>Shop Now</span></a>
                          <a class="btn-one-light ml-20" href="#shop" data-animation="fadeInUp"
                              data-delay="1.9s"><span>View Details</span></a>
                      </div>
                  </div>
              </div>
          </div>
          {% comment %} <div class="swiper-slide">
              <div class="slide-bg" data-background="assets/images/banner/tote-banner2.jpg"></div>
              <div class="container">
                  <div class="banner-two__content">
                      <h4 data-animation="fadeInUp" data-delay="1s"><img src="assets/images/icon/tag.svg"
                              alt="icon"> EXCLUSIVE <span class="primary-color">LIMITED EDITION</span></h4>
                      <h1 data-animation="fadeInUp" data-delay="1.3s">Timeless Design, <br>
                          Unmatched <span class="primary-color">Quality</span></h1>
                      <p class="mt-40" data-animation="fadeInUp" data-delay="1.5s">Our tote bags are crafted from premium eco-friendly materials, built to last and designed to impress.</p>
                      <div class="banner-two__info mt-30" data-animation="fadeInUp" data-delay="1.7s">
                          <span class="mb-10">From</span>
                          <h3>$59.99</h3>
                      </div>
                      <div class="btn-wrp mt-65">
                          <a href="shop.html" class="btn-one" data-animation="fadeInUp"
                              data-delay="1.8s"><span>Shop Now</span></a>
                          <a class="btn-one-light ml-20" href="shop-single.html" data-animation="fadeInUp"
                              data-delay="1.9s"><span>View Details</span></a>
                      </div>
                  </div>
              </div> {% endcomment %}
          </div>
      </div>
  </div>
  <div class="banner-two__arry-btn">
      <button class="arry-prev mb-15 banner-two__arry-prev"><i class="fa-light fa-chevron-left"></i></button>
      <button class="arry-next active banner-two__arry-next"><i class="fa-light fa-chevron-right"></i></button>
  </div>
</section>


<!-- Banner area end here -->
{% comment %} 
<!-- Category area start here -->
<section class="category-area category-two pb-130 pt-130">
  <div class="container">
      <div class="bor-bottom pb-130">
          <div class="sub-title text-center mb-65 wow fadeInUp" data-wow-delay=".1s">
              <h3><span class="title-icon"></span> our top collections <span class="title-icon"></span>
              </h3>
          </div>
          <div class="swiper category__slider">
              <div class="swiper-wrapper">
                  <div class="swiper-slide">
                      <div class="category__item category-two__item text-center">
                          <a href="shop.html" class="category__image d-block">
                              <img src="{% static 'images/1.avif' %}" alt="Classic Tote Bags">
                              <div class="category-icon">
                                  <img src="{% static 'images/1.avif' %}" alt="icon">
                              </div>
                          </a>
                          <h4 class="mt-30"><a href="shop.html">Classic Tote Bags</a></h4>
                      </div>
                  </div>
                  <div class="swiper-slide">
                      <div class="category__item category-two__item text-center">
                          <a href="shop.html" class="category__image d-block">
                              <img src="{% static 'images/2.jpg' %}" alt="Organic Cotton Totes">
                              <div class="category-icon">
                                  <img src="{% static 'images/2.jpg' %}" alt="icon">
                              </div>
                          </a>
                          <h4 class="mt-30"><a href="shop.html">Organic Cotton Totes</a></h4>
                      </div>
                  </div>
                  <div class="swiper-slide">
                      <div class="category__item category-two__item text-center">
                          <a href="shop.html" class="category__image d-block">
                              <img src="{% static 'images/3.jpg' %}" alt="Designer Tote Bags">
                              <div class="category-icon">
                                  <img src="{% static 'images/3.jpg' %}" alt="icon">
                              </div>
                          </a>
                          <h4 class="mt-30"><a href="shop.html">Designer Tote Bags</a></h4>
                      </div>
                  </div>
                  <div class="swiper-slide">
                      <div class="category__item category-two__item text-center">
                          <a href="shop.html" class="category__image d-block">
                              <img src="{% static 'images/4.jpg' %}" alt="Travel & Large Totes">
                              <div class="category-icon">
                                  <img src="{% static 'images/4.jpg' %}" alt="icon">
                              </div>
                          </a>
                          <h4 class="mt-30"><a href="shop.html">Travel & Large Totes</a></h4>
                      </div>
                  </div>
                  <div class="swiper-slide">
                      <div class="category__item category-two__item text-center">
                          <a href="shop.html" class="category__image d-block">
                              <img src="{% static 'images/5.jpg' %}" alt="Foldable Tote Bags">
                              <div class="category-icon">
                                  <img src="{% static 'images/5.jpg' %}"  alt="icon">
                              </div>
                          </a>
                          <h4 class="mt-30"><a href="shop.html">Foldable Tote Bags</a></h4>
                      </div>
                  </div>
                  <div class="swiper-slide">
                      <div class="category__item category-two__item text-center">
                          <a href="shop.html" class="category__image d-block">
                              <img src="{% static 'images/6.jpg' %}"  alt="Custom Print Totes">
                              <div class="category-icon">
                                  <img src="{% static 'images/6.jpg' %}"  alt="icon">
                              </div>
                          </a>
                          <h4 class="mt-30"><a href="shop.html">Custom Print Totes</a></h4>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>
</section>
<!-- Category area end here --> {% endcomment %}


<!-- View area start here -->
{% comment %} <section class="view-area">
  <div class="bg-image view__bg" data-background="{% static 'images/5.jpg' %}" style="background-color: gray;"></div>
  <div class="container">
      <div class="row g-4">
          <div class="col-lg-6 wow fadeInLeft" data-wow-delay=".1s">
              <div class="view__left-item">
                  <div class="image">
                      <img src="{% static 'images/5.jpg' %}" alt="image">
                  </div>
                  <div class="view__left-content sub-bg">
                      <h2><a class="primary-hover" href="#shop">Stylish & Eco-Friendly Tote Bags</a>
                      </h2>
                      <p class="fw-600">Discover a collection of high-quality tote bags designed for every occasion. Durable, stylish, and eco-conscious.</p>
                      <a class="btn-two" href="#shop"><span>Shop Now</span></a>
                      <a class="off-btn" href="#0"><img class="mr-10" src="assets/images/icon/fire.svg"
                              alt="icon"> GET
                          <span class="primary-color">20%
                              OFF</span> TODAY</a>
                  </div>
              </div>
          </div>
          <div class="col-lg-6">
              <div class="view__item mb-25 wow fadeInDown" data-wow-delay=".2s">
                  <div class="view__content">
                      <h3 style="color: wheat;z-index: 2;"><a class="primary-hover" href="#shop">New to Tote Bags?</a></h3>
                      <p>Explore our beginner-friendly tote bag collection, perfect for daily use.</p>
                      <a class="btn-two" href="#shop"><span>Shop Now</span></a>
                  </div>
                  <div class="view__image">
                      <img src="{% static 'images/3.jpg' %}" alt="image">
                  </div>
              </div>
              <div class="view__item wow fadeInUp" data-wow-delay=".3s">
                  <div class="view__content">
                      <h3 style="color: wheat;z-index: 2;"><a class="primary-hover" href="#shop">Premium Handmade Designs</a></h3>
                      <p>Experience handcrafted tote bags made with love and quality materials.</p>
                      <a class="btn-two" href="#shop"><span>Shop Now</span></a>
                  </div>
                  <div class="view__image">
                      <img src="{% static 'images/3.jpg' %}" alt="image">
                  </div>
              </div>
          </div>
      </div>
  </div>
</section> {% endcomment %}

<div class="container mt-3 pt-3" id="shop">
  {% include 'base/alert.html' %}
  <!-- Filter Section -->
  <div class="filter-section mb-3">
    <form method="GET" class="row">
      <div class="form-group col-md-6">
        <label for="category">Category:</label>
        <select id="category" name="category" class="form-control" onchange="this.form.submit()">
          <option value="">All</option>
          {% for category in categories %}
          <option value="{{ category.category_name }}" {% if selected_category == category.category_name %} selected {% endif %}>
            {{ category.category_name }}
          </option>
          {% endfor %}
        </select>
      </div>
      
      <!-- Sort Section -->
      <div class="form-group col-md-6">
        <label for="sort">Sort by:</label>
        <select id="sort" name="sort" class="form-control" onchange="this.form.submit()">
          <option value="">Select</option>
          <option value="newest" {% if selected_sort == 'newest' %}selected{% endif %}>Newest</option>
          <option value="priceAsc" {% if selected_sort == 'priceAsc' %}selected{% endif %}>Price: Low-High</option>
          <option value="priceDesc" {% if selected_sort == 'priceDesc' %}selected{% endif %}>Price: High-Low</option>
        </select>
      </div>
    </form>
  </div>

  <!-- Product List -->
  <div class="row">
    {% for product in products %}
    <div class="col-md-3">
      <figure class="card card-product-grid">
        <div class="img-wrap">
          <img src="/media/{{product.product_images.first.image}}" />
        </div>
        <figcaption class="info-wrap border-top">
          <a href="{% url 'get_product' product.slug %}" class="title">
            <b>{{ product.product_name }}</b></a>
          <div class="price mt-2">₵{{product.price}}.00</div>
        </figcaption>
      </figure>
    </div>
    {% endfor %}
  </div>

  <!-- Pagination Section -->
  <nav aria-label="Page navigation example">
    <ul class="pagination justify-content-center mb-4">
      {% if products.has_previous %}
      <li class="page-item">
        <a class="page-link" href="?page={{ products.previous_page_number }}" aria-label="Previous">
          <span aria-hidden="true">&laquo; Previous</span>
        </a>
      </li>
      {% else %}
      <li class="page-item disabled">
        <a class="page-link">Previous</a>
      </li>
      {% endif %}

      {% for num in products.paginator.page_range %}
      <li class="page-item {% if products.number == num %}active{% endif %}">
        <a class="page-link" href="?page={{ num }}">{{ num }}</a>
      </li>
      {% endfor %}

      {% if products.has_next %}
      <li class="page-item">
        <a class="page-link" href="?page={{ products.next_page_number }}" aria-label="Next">
          <span aria-hidden="true">Next &raquo;</span>
        </a>
      </li>
      {% else %}
      <li class="page-item disabled">
        <a class="page-link">Next</a>
      </li>
      {% endif %}
    </ul>
  </nav>
  
</div>

{% endblock %}
