<!-- View area start here -->
<section class="view-area">
    <div class="bg-image view__bg" data-background="assets/images/bg/view-bg.jpg"></div>
    <div class="container">
        <div class="row g-4">
            <div class="col-lg-6 wow fadeInLeft" data-wow-delay=".1s">
                <div class="view__left-item">
                    <div class="image">
                        <img src="assets/images/view/view-image1.jpg" alt="image">
                    </div>
                    <div class="view__left-content sub-bg">
                        <h2><a class="primary-hover" href="shop-single.html">The best e-liqued bundles</a>
                        </h2>
                        <p class="fw-600">Sell globally in minutes with localized currencies languages, and
                            experie
                            in every market. only a variety of vaping
                            products</p>
                        <a class="btn-two" href="shop-single.html"><span>Shop Now</span></a>
                        <a class="off-btn" href="#0"><img class="mr-10" src="assets/images/icon/fire.svg" alt="icon">
                            GET
                            <span class="primary-color">25%
                                OFF</span> NOW</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="view__item mb-25 wow fadeInDown" data-wow-delay=".2s">
                    <div class="view__content">
                        <h3><a class="primary-hover" href="shop-single.html">new to vapeing?</a></h3>
                        <p>Whereas recognition of the inherent dignity</p>
                        <a class="btn-two" href="shop-single.html"><span>Shop Now</span></a>
                    </div>
                    <div class="view__image">
                        <img src="assets/images/view/view-image2.jpg" alt="image">
                    </div>
                </div>
                <div class="view__item wow fadeInUp" data-wow-delay=".3s">
                    <div class="view__content">
                        <h3><a class="primary-hover" href="shop-single.html">Vap mode</a></h3>
                        <p>Whereas recognition of the inherent dignity</p>
                        <a class="btn-two" href="shop-single.html"><span>Shop Now</span></a>
                    </div>
                    <div class="view__image">
                        <img src="assets/images/view/view-image3.jpg" alt="image">
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- View area end here -->

<!-- Product area start here -->
<section class="product-area pt-130 pb-130 mt-130">
    <div class="container">

        <div class="tab-content">
            <div id="latest-item" class="tab-pane fade show active">
                <div class="row g-4">
                    <div class="col-xxl-3 col-xl-4 col-md-6">
                        <div class="product__item bor">
                            <a href="#0" class="wishlist"><i class="fa-regular fa-heart"></i></a>
                            <a href="shop-single.html" class="product__image pt-20 d-block">
                                <img class="font-image" src="assets/images/product/product-image1.png" alt="image">
                                <img class="back-image" src="assets/images/product/product-image3.png" alt="image">
                            </a>
                            <div class="product__content">
                                <h4 class="mb-15"><a class="primary-hover" href="shop-single.html">Menthol
                                        E-Cigarette Kit</a></h4>
                                <del>$74.50</del><span class="primary-color ml-10">$49.50</span>
                                <div class="star mt-20">
                                    <i class="fa-solid fa-star"></i>
                                    <i class="fa-solid fa-star"></i>
                                    <i class="fa-solid fa-star"></i>
                                    <i class="fa-solid fa-star"></i>
                                    <i class="fa-solid fa-star"></i>
                                </div>

                            </div>
                            <a class="product__cart d-block bor-top" href="#0"><i
                                    class="fa-regular fa-cart-shopping primary-color me-1"></i>
                                <span>Add to
                                    cart</span></a>
                        </div>
                    </div>
                    <
                </div>
            </div>
        </div>
</section>