{% extends 'base/base.html' %}
{% block title %}Order Details{% endblock title %}
{% load static %} 
{% block start %}

<section class="section-content padding-y">
  <div class="container">
    <div class="row">

      <!-- Order Summary -->
      <main class="col-md-12">
        <div class="d-flex justify-content-between align-items-center mb-4">
          <h3 class="mb-0">Order Summary</h3>
          <a href="{% url 'download_invoice' order.order_id %}" class="btn btn-success">
            Download Invoice
          </a>
        </div>
        <div class="table-responsive mb-4">
          <table class="table table-striped table-bordered">
            <thead class="thead-dark">
              <tr>
                <th>Product</th>
                <th>Size</th>
                <th>Quantity</th>
                <th>Price</th>
              </tr>
            </thead>
            <tbody>
              {% for item in order_items.all %}
              <tr>
                <td>
                  <a href="{% url 'get_product' item.product.slug %}" class="title text-dark">
                    {{ item.product.product_name }}
                  </a>
                </td>
                <td>{{ item.size_variant.size_name|default:"N/A" }}</td>
                <td>{{ item.quantity }}</td>
                <td>₵ {{ item.product_price }}</td>
              </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
      </main>
      <!-- Order Summary End -->

      <!-- Order Details Summary -->
      <main class="col-md-6">
        <h3 class="mb-4">Order Details</h3>
        <div class="card mb-4">
          <div class="card-body">
            <h5 class="card-title">Order Information</h5>
            <dl class="dlist-align">
              <dt>Order ID #:</dt>
              <dd class="text-right"><strong>{{ order.order_id }}</strong></dd>
            </dl>
            <dl class="dlist-align">
              <dt>Placed on:</dt>
              <dd class="text-right"><strong>{{ order.order_date|date:"F j, Y" }}</strong></dd>
            </dl>
            <dl class="dlist-align">
              <dt>Customer:</dt>
              <dd class="text-right"><strong>{{ order.user.get_full_name }}</strong></dd>
            </dl>
            <dl class="dlist-align">
              <dt>Payment Status:</dt>
              <dd class="text-right"><strong>{{ order.payment_status }}</strong></dd>
            </dl>
            <dl class="dlist-align">
              <dt>Payment Mode:</dt>
              <dd class="text-right"><strong>{{ order.payment_mode }}</strong></dd>
            </dl>
          </div>
        </div>
      </main>
      <!-- Order Details Summary End -->

      <!-- Shipping Details -->
      <main class="col-md-6">
        <h3 class="mb-4">Shipping Details</h3>
        <div class="card mb-4">
          <div class="card-body">
            <h5 class="card-title">Recipient Information</h5>
            <dl class="dlist-align">
              <dt>Recipient Name:</dt>
              <dd class="text-right">
                <strong>{{ order.shipping_address.first_name }} {{ order.shipping_address.last_name }}</strong>
              </dd>
            </dl>
            <dl class="dlist-align">
              <dt>Street Address:</dt>
              <dd class="text-right">
                <strong>{{ order.shipping_address.street }} {{ order.shipping_address.street_number|default:"" }}</strong>
              </dd>
            </dl>
            <dl class="dlist-align">
              <dt>City:</dt>
              <dd class="text-right"><strong>{{ order.shipping_address.city }}</strong></dd>
            </dl>
            <dl class="dlist-align">
              <dt>Zip Code:</dt>
              <dd class="text-right"><strong>{{ order.shipping_address.zip_code }}</strong></dd>
            </dl>
            <dl class="dlist-align">
              <dt>Country:</dt>
              <dd class="text-right"><strong>{{ order.shipping_address.country }}</strong></dd>
            </dl>
            <dl class="dlist-align">
              <dt>Phone Number:</dt>
              <dd class="text-right"><strong>{{ order.shipping_address.phone }}</strong></dd>
            </dl>
          </div>
        </div>
      </main>
      <!-- Shipping Details End -->

      <!-- Payment Summary -->
      <main class="col-md-4">
        <div class="card" style="margin-top: 59px;">
          <div class="card-body">
            <h5 class="card-title">Payment Summary</h5>
            <dl class="dlist-align">
              <dt>Item(s) Subtotal:</dt>
              <dd class="text-right"><strong>₵{{ order.order_total_price }}</strong></dd>
            </dl>
            <dl class="dlist-align">
              <dt>Coupon Applied:</dt>
              <dd class="text-right"><strong>₵{{ order.coupon.discount_amount|default:"0" }}</strong></dd>
            </dl>
            <dl class="dlist-align">
              <dt>Grand Total:</dt>
              <dd class="text-right"><strong>₵{{ order.grand_total }}</strong></dd>
            </dl>
          </div>
        </div>
      </main>
      <!-- Payment Summary End -->

    </div>
  </div>
</section>

{% endblock %}
